.footer(ng-controller='FooterCtrl')
  .container
    p made with <a class="heart", href = "http://aitk.co">&#x2665;</a> by Christopher Aitken. |
      a.foot-links(ng-href="/#/about")  About the project