
.main(id="banner")
  div.header
    img.title(ng-href="#/" ng-click='home()', src='../../assets/images/title.png')

  h1 About
  .container
    p This project was a small test of css3 animations. This is still in development as I am still looking for a nice api to plug in for finding and calculating flights to the destinations which are picked for the user.

    h4 Here is the current todo list until I feel this app is complete.
    ul.left-align
      li Flight API
      li Add user accounts to save destinations
      li Add more settings to narrow down the search of countries

div(ng-include="'app/components/footer/footer.html'")
