// Earth animation
@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 449px; }
}

@-webkit-keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 449px; }
}

@-moz-keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 449px; }
}

#earth {
    width: 250px;
    margin: 0 auto;
    height: 250px;
    background: url('../../assets/images/earth.png');
    background-color: #0597c3;
    border-radius: 50%;
    background-size: 449px;
    box-shadow: inset 10px 0 40px 6px rgb(0, 0, 0),
        inset -3px 0 6px 2px rgba(125, 125, 125, 0.1);
    animation: rotate 60s;
    -webkit-animation: rotate 60s;
    -moz-animation: rotate 60s;
    text-align: center;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

.title {
    height: 150px;
    cursor: pointer;
}

.earthContainer {
    position: center;
    text-align: center;
}

.result {
    color : #FFFFFF;
    text-align:center;
    position: center;
    font-family: 'Raleway', sans-serif;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    background-color: #095378;
    position: centre;
    background-height: 150px;
    left: 250px;
    clip: rect(0px,20px,250px,0px);
}

body {
    border-bottom: none;
    margin-top: -20px;
    min-height: 106vh;
    background: -webkit-linear-gradient(0deg, #FF512F 10%, #F09819 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(0deg, #FF512F 10%, #F09819 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(0deg, #FF512F 10%, #F09819 90%); /* IE10 */
    background:      -o-linear-gradient(0deg, #FF512F 10%, #F09819 90%); /* Opera 11.10+ */
    background:         linear-gradient(0deg, #FF512F 10%, #F09819 90%); /* W3C */
    background-attachment: fixed;
}

.label-body {
    color: #333;
}

.options-button {
    color: #FDFDFD;
    cursor: pointer;
}

.options-button:hover {
    color: #095378;
}


.options-container {
    min-height: 150px;
    width: 30vw;
    border-radius: 15px;
    background-color: #f6f6f6;
    text-align: left;
    margin: 0 auto;
}

.button {
    color: #FDFDFD !important;
    border-color: #FDFDFD;
}

.button:hover, .button:active {
    color: #095378 !important;
    border-color: #095378;
}

.continents {
    color: #333;
}

.main {
    position: relative;
    padding: 30px 15px;
    color: #FFFFFF;
    text-align: center;
}

.footer {
    color: white;
    text-align: center;
}

.heart:link, .heart:visited, .heart:active{
    color: #FEFEFE;
    text-decoration: none;
}

.heart:hover {
    color: pink;
     text-decoration: none;
}

.foot-links {
    font-color: #FEFEFE;
    padding-right: 10px;
}

.foot-links:link,.foot-links:visited{
    color: #FEFEFE;
    text-decoration: none;
}

.foot-links:hover {
    color: #2d112b;
    text-decoration: none;
    opacity: 0.8;
}
