
.main(id="banner")
  div.header
    img.title(ng-href="#/" ng-click='home()', src='../../assets/images/title.png')

    p.about-text Just click the earth to get a new place to go!

    p.earthContainer
      div(ng-href="#/" id ='earth', ng-click="randomize()")

    a.options-button(ng-click="showOptions = !showOptions") &#9660; Show Options &#9660;

    .options-container(ng-show="showOptions")
      .container
        label.continents select active continents
        form.six.columns
          input(type="checkbox" ng-model="africaActive")
          span.label-body Africa
          .row
          input(type="checkbox" ng-model="asiaActive")
          span.label-body Asia
          .row
          input(type="checkbox" ng-model="northAmericaActive")
          span.label-body North America
          .row
          input(type="checkbox" ng-model="southAmericaActive")
          span.label-body South America
          .row
          input(type="checkbox" ng-model="europeActive")
          span.label-body Europe
          .row
          input(type="checkbox" ng-model="oceaniaActive")
          span.label-body Oceania

    h1.result(ng-model="result") {{ result }}

  div(ng-show='show')
    button.button(ng-click="randomize()") nope!
    button.button(ng-click="letsGo()") lets Go there!

div(ng-include="'app/components/footer/footer.html'")
