
.main(id="banner")
  div.header
    img.title(ng-href="#/" ng-click='home()', src='../../assets/images/title.png')
    h1 Still to find a good flights api
    p.error(ng-show="!country") There was no country added to the url

    p(ng-show="country") You want to go to {{ country }} below is a list of flights!

    table(ng-show="country")
      tr(ng-repreat="flight in flights")
        td {{ flight.departure }}
        td {{ flight.arrival }}
